h1 {
  font-family: 'Helvetica';
  font-size: 30pt;
  font-weight: bold;
}

h2 {
  font-family: 'Helvetica';
  font-size: 20pt;
  font-weight: bold;
}

p {
  font-family: 'Helvetica';
  font-size: 14pt;
}

.container {
  width: 1024px;
  margin: 0 auto;
  background-color: #adadad;
  text-align: center;
}

.banner-top {
  margin: 0 auto;
  padding: 20px;
  background-color: #5e5e5e;
  color: #fff;
  text-align: center;
}

.crystal-image {
  width: 200px;
  height: inherit;
}

#computer-number {
  font-size: 16pt;
  font-family: 'Helvetica';
  color: #fff;
  background-color: #333;
  padding: 20px;
  width: 20%;
  margin: 0 auto;
}

#user-number {
  font-size: 16pt;
  font-family: Helvetica;
  color: #fff;
  background-color: #444;
  padding: 20px;
  width: 20%;
  margin: 0 auto;
}