h1 {
  font-family: 'Helvetica';
  font-size: 30pt;
  font-weight: bold;
}

h2 {
  font-family: 'Helvetica';
  font-size: 20pt;
  font-weight: bold;
}

p {
  font-family: 'Helvetica';
  font-size: 14pt;
}

.container {
  width: 1024px;
  margin: 0 auto;
  background-color: #3993ac;
  text-align: center;
  height: 100vh;
}

.banner-top {
  margin: 0 auto;
  padding: 20px;
  background-color: #11272d;
  color: #fff;
  text-align: center;
}

.crystal-image {
  width: 200px;
  height: inherit;
  padding: 10px;
}

#computer-number {
  font-size: 16pt;
  font-family: 'Helvetica';
  color: #fff;
  background-color: #1c414c;
  padding: 20px;
  width: 20%;
  margin: 0 auto;
}

#user-number {
  font-size: 16pt;
  font-family: Helvetica;
  color: #fff;
  background-color: #2f7488;
  padding: 20px;
  width: 20%;
  margin: 0 auto;
}

#win-lose {
  font-size: 16pt;
  font-family: 'Helvetica';
  padding: 20px;
  margin: 0 auto;
}

#reset {
  padding: 10px;
  margin: 20px;
}

.result-counter {
  font-size: 14pt;
  font-family: 'Helvetica';
  padding: 20px;
  margin: 0 auto;
  width: 20%;
  background-color: #303d74;
  color: #fff;
}